*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 0;
  width:80%;
  color:#fff;
  margin: 0 auto; 
}
/*section:nth-child(odd){ background-color:#00b1ff; height:800px;}*/
/*section:nth-child(even){ background-color:#001620; height:730px; }*/

/*Deep Sky Blue */
.section-first{
  position: relative;
  background-color:#00b1ff; 
  height:1050px;
}
/*Deep Black Pearl */
.section-second{
    position: relative;
    background-color:#001620;
    height:850px;
}
/*Deep Wishper */
.section-third{
    position: relative;
    background-color:#eeeeee;
    height:700px;
}
/*Main Container*/
.container {
    width:100%;
    height:3800px;
    margin:0 auto;
    padding: 0;
    position: absolute;
    z-index: 10;
    overflow: hidden;
    background-color: transparent;

}
/*----------------------------------------------*/
.first-box{
    width:90%;
    margin:0 auto;
    margin-bottom: 2%;
    position: relative;
    z-index: 10;
    background-color: transparent;

}
.header{
   height:50px;
   margin-top: 30px;
   margin-bottom: 10px;
}
.header img {
  float: left;
  height:50px;
  width:70px;
}
.header h3 {
  position: relative;
  top: 18px;
  left: 8px;
}
.primary-heading{
   margin-bottom: 10px;
   font-size: 56px;
   font-weight: 500;
   padding:20px;
}
.secondary-heading{
  margin-bottom: 10px;
   font-size: 46px;
   font-weight: 400;
  
}
.small-box-content
{
  color:#fff;
  margin:0 auto;
  padding: 20px;
  margin-bottom: 30px;
}

.paragraph {
  font-size: 20px; 
  font-weight: 100;
}
.hero{
  margin:0 auto;
  width:100%;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.hero-img{
  border-radius: 10px;
}
.hero-mob{
   position: absolute;
   margin:0 auto;
   width:280px;
   right: 10%;
   top: 44%;
   box-shadow: 10px 20px 10px rgba(0, 0, 0, .5);
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 14px;
}
.hero-mob-img{
  border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}

/*----------------------------------------------------------*/
.second-box{
    margin-top: 10%;
    padding: 0;
    background-color: transparent;
}
.hero-second{
  padding: 0;
  margin-left: -4%;
  width:80%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.hero-second-img{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.right-content{
  padding-top:5%;
  padding-right: 10%;
}

/*----------------------------------------------------------*/
.third-box{
    width: 100%; 
    height:900px;
    padding: 0;
    margin-bottom: 2%;
    background-color: transparent;
}
/*Diamond elements*/
.big_diamond {
      width:800px;
      position: absolute;
      margin-top: 10%;
      
      transform: rotate(45deg);
      background-color: transparent;
    }
    .diamond1 {
      float: left;
      width:240px;
    
      padding-top:20%; 
      margin: 2%;
      background: transparent;
    }
 .diamond2 {
  float: left;
  width:240px;
   
  margin: 1%;
  background: transparent;
  
}
.diamond3 {
  float: left;
  width:240px;
   height: 800px;
   padding-top: 20%;
  margin: 2%;
  background: transparent;
  
}
.small-box{
  width:230px;
  margin:20%;
  background: green;
}
.top-left-text{
  padding-right: 10%;
  text-align: right;
}

/*----------------------------------------------------------*/
.fourth-box{
    width: 100%; 
    margin:0 auto;
    padding: 5%;
    z-index: 10;
    position: absolute;
    background-color: transparent;
}

.big-mob{
   float: right;
   width:60%;
   box-shadow: 10px 20px 10px rgba(0, 0, 0, .5);
   border-radius: 17px;
}
.big-mob-img{
 border-radius: 17px;
 border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
}
.small-mob{
  position: absolute;
  width:250px;
  left: 20%;
  top: 12%;
  box-shadow: 10px 20px 10px rgba(0, 0, 0, .5);
  border-radius: 17px;
}
.small-mob-img{
 border-radius: 17px;
}
.left-content{
  color:#000;
}


/*----------------------------------------------------------*/
footer{
    text-align: center;
    background-color: #001620;
    color: #fff;
}
.footermain{
 width:50%;
 height:auto;   
 margin:0 auto;
 padding:5%;
}
.footermain img{
    margin: 0 auto;
    height:60px;
    width:80px;
}
.footer-btn{
    height: 60px;
    width:60px;
    border-radius: 50%;
}

