
body{
	width:80%;
	color:#fff;
	margin: 0 auto;
	padding: 0;
}
section:nth-child(odd){ background-color:#00aeef; height:800px;}

section:nth-child(even){ background-color:#2c3e50; height:700px; }
.section-first{
    width:90%;
	margin: 0 auto;

}
.section-second{
    width:90%;
    margin: 0 auto;
}
.logo-box{
	padding-top: 30px;
	padding-left:30px;
}
.logo-box img{
	height:60px;
	width:180px;
}
.primary-heading{
   color: #fff;
   margin-bottom: 2rem; 
   padding-top: 30px;
    font-size: 6rem;
    font-weight: 400;
    padding:20px;
}

.side1
{
	color:#fff;
	margin:0 auto;
	padding: 20px;
}
.side2
{
	color:#fff;
	margin:0 auto;
	padding: 20px;
}

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }


.upper-first {
	margin:0 auto;
    position: absolute; 
    height: 600px;
    width:900px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    left: 50%;
    top: 105%;
    transform:translate(-50%, -50%);
    background-color: black;
    border-radius: 5px;
}


.upper-second {
    position: absolute; 
    height: 435px;
    width:200px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    left: 79.25%;
    top: 80%;
    transform:translate(-50%, -50%);
    background-color: yellow;
    
    border-bottom-right-radius:12px; 
    border-bottom-left-radius:12px;
}    
.upper-second img {
	height: 436px;
    width:200px;
    background-size:cover;
    overflow: hidden;
    border-bottom-right-radius:12px; 
    border-bottom-left-radius:12px;
     }
.upper-third {
 	position: absolute; 
    height: 435px;
    width:200px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    left: 2%;
    top: 80%;
    transform:translate(-50%, -80%);
    background-color: yellow;

 }    
.bottom-content{
	position: absolute; 
	height: 500px;
    width:350px;
	top:175%;
	right:14%;
}




.diamond-first {
    width: 400px;
    height: 200px;
    background: yellow;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 154% 48%;
    margin: 0 0 10px 310px;
}
.diamond-first img{
	width: 400px;
    height: 200px;
}

#diamond-second {
    width: 400px;
    height: 200px;
    background: red;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 34% 138%;
    margin: 0 0 10px 310px;
}

#diamond-third {
    width: 400px;
    height: 200px;
    background: #1eff00;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 80% 205%;
    margin: 0 0 10px 310px;
}

#diamond-fourth {
    width: 400px;
    height: 200px;
    background: blue;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 50% -100%;
    margin: 0 0 10px 310px;
}

#diamond-fifth {
    width: 400px;
    height: 200px;
    background: gray;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: -80% 130%;
    margin: 0 0 5px 130px;
}

